apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: task-platform-apps
  labels:
    app: auth-service
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - name: http
      port: 4000
      targetPort: 4000
    - name: grpc
      port: 5000
      targetPort: 5000
