# ============================================
# PostgreSQL Secret Template
# ============================================
# Copy this file to secret.yaml and fill in the values
# cp secret.yaml.example secret.yaml


apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: task-platform-infra
type: Opaque # default type and flexible for any key/value
stringData:
  username: <USERNAME>
  password: <PASSWORD>
  database: <DATABASE>
