apiVersion: v1
kind: Service
metadata:
  name: timescaledb
  namespace: task-platform-infra
  labels:
    app: timescaledb
spec:
  type: ClusterIP
  selector:
    app: timescaledb
  ports:
    - name: timescaledb
      port: 5432
      targetPort: 5432
