apiVersion: v1
kind: Service
metadata:
  name: graphql-gateway
  namespace: task-platform-apps
  labels:
    app: graphql-gateway
spec:
  type: ClusterIP
  selector:
    app: graphql-gateway
  ports:
    - name: http
      port: 4002
      targetPort: 4002
