# HPA will automatically scale the number of pods based on CPU/Memory usage.

# Horizontal Pod Autoscaler for Auth Service
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: auth-service-hpa
  namespace: task-platform-apps
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: auth-service
  minReplicas: 2 # Minimum pods
  maxReplicas: 10 # Maximum pods
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70 # Scale up when CPU > 70%
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80 # Scale up when Memory > 80%
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300 # wait 5 minute before scale down
      policies:
        - type: Pods
          value: 1
          periodSeconds: 60 # Scale down 1 pod every 1 minute
    scaleUp:
      stabilizationWindowSeconds: 60 # wait 1 minute before scale up
      policies:
        - type: Pods
          value: 2
          periodSeconds: 60 # Scale up 2 pods every 1 minute

---
# HPA for Task Service
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: task-service-hpa
  namespace: task-platform-apps
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: task-service
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80

---
# HPA for GraphQL Gateway
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: graphql-gateway-hpa
  namespace: task-platform-apps
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: graphql-gateway
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80

---
# HPA for Svelte Web
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: svelte-web-hpa
  namespace: task-platform-apps
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: svelte-web
  minReplicas: 2
  maxReplicas: 8
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
