apiVersion: v1
kind: Service
metadata:
  name: task-service
  namespace: task-platform-apps
  labels:
    app: task-service
spec:
  type: ClusterIP
  selector:
    app: task-service
  ports:
    - name: http
      port: 4001
      targetPort: 4001
    - name: grpc
      port: 5001
      targetPort: 5001
